.CommunityInfo{
  flex-direction: row;
  padding: 10px 0;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  .commmunityImg{
    flex: 1;
    height: 30vw;
    justify-content: center;
    align-items: center;
    img{
      height: 100%;
    }
  }
  .info{
    flex: 2;
    &.not-info{
      justify-content: center;
      align-items: center;
      font-size: 26px;
      font-weight: bold;
    }
    ul{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    ul li{
      width: 40%;
      list-style: none;
      //border-bottom: 1px solid black;
      span:first-child{
        font-weight: bold;
      }
      span{
        display:block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 16px;
      }
    }

  }
}